<footer>
  <div class="footer-up">
    <a href="#" class="logo">Sweet and Salty</a>
    <ul class="footer">
      <li><a routerLink="/user/home">Home</a></li>
      <li><a routerLink="/user/about">About Us</a></li>
      <li><a routerLink="/user/contact">Contact Us</a></li>
      <li><a routerLink="/user/home">Help</a></li>
      <li><a routerLink="/user/home">Privacy</a></li>
    </ul>
  </div>
  <hr color="black" />

  <div class="footer-down">
    <p class="copyright">Sweet and Salty © 2023</p>

    <div class="icons">
      <a href="#"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-linkedin-square"></i></a>
    </div>
  </div>
</footer>
