<!-- <footer>
  <a href="#" class="logo">Sweet and Salty</a>
  <div class="main-footer">
    <div class="footer-content">

      <ul class="navbar">
    <li><a href="#home">Home</a></li>
    <li><a href="#categories">Categories</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="#contact">Contact Us</a></li>
  </ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#categories">Categories</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </div>

    <div class="footer-content">
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Instagram</a></li>
    </div>
  </div>
</footer> -->

<footer>
  <div class="footer-up">
    <a href="#" class="logo">Sweet and Salty</a>
    <ul class="footer">
      <li><a href="#home">Home</a></li>
      <li><a href="#categories">Categories</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact Us</a></li>
      <li><a href="#help">Help</a></li>
      <li><a href="#privacy">Privacy</a></li>
    </ul>
  </div>
  <hr color="black" />

  <div class="footer-down">
    <p class="copyright">Sweet and Salty © 2023</p>

    <div class="icons">
      <a href="#"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-linkedin-square"></i></a>
    </div>
  </div>
</footer>
