<div class="container">
  <div class="card-header">
    <h3><strong>ORDERS</strong></h3>
  </div>
  <br />

  <div class="form-group">
    <label for="searchInput">Search:</label>
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        id="searchInput"
        [(ngModel)]="searchQuery"
        (input)="searchProducts()"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary srch-btn"
          type="button"
          (click)="searchProducts()"
        >
          <i class="bx bx-search"></i>
        </button>
      </div>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Order Number Column -->
    <ng-container matColumnDef="orderNumber">
      <mat-header-cell *matHeaderCellDef>Order Number</mat-header-cell>
      <mat-cell *matCellDef="let order">{{ order.id }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let order">{{
        order.orderItem[0].user.name
      }}</mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="delivery date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let order"
        >{{ order.order_date.day }}-{{ order.order_date.month }}-{{
          order.order_date.year
        }}</mat-cell
      >
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let order">{{ order.order_status }}</mat-cell>
    </ng-container>

    <!-- Payment Status Column -->
    <ng-container matColumnDef="paymentStatus">
      <mat-header-cell *matHeaderCellDef>Payment Status</mat-header-cell>
      <mat-cell *matCellDef="let order">{{ order.payment_status }}</mat-cell>
    </ng-container>

    <!-- Delivery Column -->
    <ng-container matColumnDef="delivery">
      <mat-header-cell *matHeaderCellDef>Delivery City</mat-header-cell>
      <mat-cell *matCellDef="let order">{{
        order.delivery.city.delivery_city
      }}</mat-cell>
    </ng-container>

    <!-- Category Column -->
    <!-- <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let order">{{ order.order_date }}</mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClick(row)"
      [routerLink]="'/dash/order-details/' + row.id"
      class="clickable-row"
    ></mat-row>
  </mat-table>
</div>
