<div class="container">
  <div class="login-form">
    <form>
      <h1>Sweet and Salty Bakery</h1>

      <div class="form-group">
        <label for="email">Email</label>

        <input
          type="email"
          id="email"
          name="email"
          required
          [(ngModel)]="email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>

        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="password"
        />
      </div>

      <div class="row">
        <div class="row-item left">
          <input type="checkbox" id="remember-me" name="remember-me" />
          <label for="remember-me"> Remember Me</label>
        </div>
      </div>

      <div class="button">
        <button type="submit" class="btn" (click)="register()">Register</button>
      </div>
    </form>

    <hr />

    <div class="social-signin">
      <!-- <h3>Sign in with:</h3> -->

      <a href="#"><i class="bx bxl-facebook"></i></a>

      <a href="#"><i class="bx bxl-google"></i></a>
    </div>
  </div>
</div>
