<div class="full-screen-bg">
  <div class="container">
    <div class="login-form">
      <form>
        <h1>Register</h1>

        <div class="form-group">
          <label for="email">Email</label>

          <input
            type="email"
            id="email"
            name="email"
            required
            [(ngModel)]="email"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>

          <input
            type="password"
            id="password"
            name="password"
            required
            [(ngModel)]="password"
          />
        </div>

        <div class="button">
          <button type="submit" class="btn" (click)="register()">
            Register
          </button>
        </div>
      </form>

      <hr />

      <div class="create">
        <a href="/login"
          >Already have an account? <span style="color: blue">Login</span></a
        >
      </div>
    </div>
  </div>
</div>
