<header>
  <a routerLink="/home" class="logo">Sweet and Salty</a>
  <div class="bx bx-menu" id="menu-icon"></div>

  <ul class="navbar">
    <li><a routerLink="/home">Home</a></li>
    <li><a href="#categories">Categories</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="#contact">Contact Us</a></li>
  </ul>

  <div class="icons">
    <a href="#"><i class="bx bx-search-alt-2"></i></a>
    <a href="#" (click)="logout()"><i class="bx bx-user"></i></a>
    <a routerLink="/cart"><i class="bx bx-cart-alt"></i></a>
  </div>
</header>
