section {
  padding: 2rem 9%;
}

.banner {
  background-color: #fff;
  text-align: left;
  padding: 100px 0;
  background: url(/assets/images/bgImage.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 48px;
  width: 40%;
  margin-bottom: 20px;
}

.banner p {
  font-size: 24px;
  width: 35%;
  margin-bottom: 40px;
}

.content {
  padding-left: 70px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #666;
}

.featured {
  background-color: #f7f7f7;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.product-item {
  /* width: 360px;
  height: 480px; */
  flex-basis: 30%;
  margin-bottom: 50px;
  box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
}

.product-item img {
  /* width: 100%; */
  /* height: 300px; */
  object-fit: cover;
  margin-bottom: 5px;
}

.product-item h3 {
  font-family: "Bodoni Moda", serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-item .description {
  font-size: 18px;
  margin-bottom: 30px;
}

.product-price {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.about {
  text-align: center;
  padding: 100px 0;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  margin-bottom: 50px;
}

/* For screens smaller than 768px (e.g. mobile devices) */
@media (max-width: 767px) {
  .featured {
    padding: 0;
  }

  .product-list {
    justify-content: center;
  }

  .product-item {
    flex-basis: 90%;
    margin-bottom: 30px;
  }
}

/* For screens larger than 768px (e.g. tablets and desktops) */
@media (min-width: 768px) {
  .featured {
    padding-left: 100px;
    padding-right: 100px;
  }

  .product-list {
    justify-content: space-between;
  }

  .product-item {
    flex-basis: 31%;
    margin-bottom: 50px;
  }
}

/* For screens larger than 1024px (e.g. large desktops) */
@media (min-width: 1024px) {
  .featured {
    padding-left: 200px;
    padding-right: 200px;
  }
}
