<section class="section" id="starters" style="scroll-margin-top: 0rem">
  <div class="items-div">
    <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <span class="fs-2">Starters</span>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card">
          <img
            class="img-loading card-img-top"
            src="src\assets\images\cake2.jpg"
            role="img"
            aria-label="item-image"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          />

          <div class="card-body">
            <p class="card-text"><strong>name</strong></p>

            <div class="d-flex justify-content-between align-items-center">
              <small class="text-dark item-price">₹400</small>

              <div class="btn-group">
                <span class="btn btn-sm">
                  <!-- <app-cart-icon></app-cart-icon> -->
                </span>

                <div class="btn-toolbar" role="toolbar">
                  0>
                  <div class="btn-group" role="group" aria-label="-">
                    <span type="button" class="btn btn-outline-danger btn-sm"
                      >-</span
                    >
                    <span class="text-center" style="width: 30px">5</span>
                    <span type="button" class="btn btn-outline-success btn-sm"
                      >+</span
                    >
                  </div>
                </div>
              </div>
              <div>
                <span class="not-available-text">Not Available.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
