<!-- user-profile.component.html -->

<div class="profile-container">
  <!-- <div class="profile-image"> -->
  <!-- <img src="path_to_user_image" alt="User Image" /> -->
  <!-- </div> -->
  <div class="profile-details">
    <h2>{{ Profile.name }}</h2>
    <p><strong>Emaill:</strong> {{ Profile.email }}</p>
    <p><strong>Address:</strong> {{ Profile.address }}</p>
    <p><strong>Phone Number:</strong> {{ Profile.phoneNumber }}</p>
    <!-- Add additional user details as needed -->
  </div>
</div>
