<!--

<div class="container">
  <div class="w3-panel bg-c-blue">
    <h3>Orders</h3>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h5 class="m-b-20">Total Orders</h5>
          <h6 class="text-right">
            <i class="fa fa-list-alt f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h5 class="m-b-20">Completed Orders</h5>
          <h6 class="text-right">
            <i class="fa fa-check-circle f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h5 class="m-b-20">Pending Orders</h5>
          <h6 class="text-right">
            <i class="fa fa-clock-o f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h5 class="m-b-20">Cancelled</h5>
          <h6 class="text-right">
            <i class="fa fa-list-alt f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-panel bg-c-blue">
    <h3>Others</h3>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h5 class="m-b-20">Total Products</h5>
          <h6 class="text-right">
            <i class="fa fa-list-alt f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h5 class="m-b-20">Categories</h5>
          <h6 class="text-right">
            <i class="fa fa-check-circle f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h5 class="m-b-20">Users</h5>
          <h6 class="text-right">
            <i class="fa fa-clock-o f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h5 class="m-b-20">Customizations</h5>
          <h6 class="text-right">
            <i class="fa fa-list-alt f-left" aria-hidden="true"></i
            ><span>44</span>
          </h6>

        </div>
      </div>
    </div>
  </div>
</div> -->
