<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card prod-p-card" style="background-color: #fe9496">
        <div class="card-body">
          <div class="row align-items-center m-b-25">
            <div class="col">
              <h6 class="m-b-5 text-white">Total Products</h6>
              <h3 class="m-b-0 text-white">{{ productList.length }}</h3>
            </div>
            <div class="col-auto">
              <i class="fas fa fa-book f-18"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card prod-p-card" style="background-color: #4bcbeb">
        <div class="card-body">
          <div class="row align-items-center m-b-25">
            <div class="col">
              <h6 class="m-b-5 text-white">Total Orders</h6>
              <h3 class="m-b-0 text-white">{{ ordersList.length }}</h3>
            </div>
            <div class="col-auto">
              <i class="fas fa-database f-18"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card prod-p-card" style="background-color: #1bcfb4">
        <div class="card-body">
          <div class="row align-items-center m-b-25">
            <div class="col">
              <h6 class="m-b-5 text-white">Total Revenue</h6>
              <h3 class="m-b-0 text-white">Mt {{ orderTotal }}</h3>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign f-18"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card prod-p-card" style="background-color: #a05aff">
        <div class="card-body">
          <div class="row align-items-center m-b-25">
            <div class="col">
              <h6 class="m-b-5 text-white">Pending Orders</h6>
              <h3 class="m-b-0 text-white">{{ pendingOrders.length }}</h3>
            </div>
            <div class="col-auto">
              <i class="fas fa-tags f-18"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
