@import url("https://fonts.googleapis.com/css?family=Mada:400,500,600");

@import url("../assets/plugins/bootstrap/css/bootstrap.min.css");

@import url("../assets/fonts/feather/css/feather.css");

@import url("../assets/plugins/jquery-scrollbar/css/perfect-scrollbar.css");

@import url("../assets/fonts/datta/datta-icon.css");

.container {
  margin-top: 20px;
  padding-top: 30px;
}

.anim-rotate {
  -webkit-animation: anim-rotate 1s linear infinite;
  animation: anim-rotate 1s linear infinite;
}

@-webkit-keyframes anim-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes anim-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.anim-close-card {
  -webkit-animation: anim-close-card 1.4s linear;
  animation: anim-close-card 1.4s linear;
}

@-webkit-keyframes anim-close-card {
  100% {
    opacity: 0.3;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes anim-close-card {
  100% {
    opacity: 0.3;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

p.text-muted {
  font-size: 13px;
}

.card {
  border-radius: 2px;
  box-shadow: 0 0 0 1px #e2e5e8;
  border: none;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
}

.card .card-header {
  background-color: transparent;
  border-bottom: 1px solid #e2e5e8;
  padding: 20px 25px;
  position: relative;
}

.card .card-header h5 {
  margin-bottom: 0;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.1;
  position: relative;
}

.card .card-header.borderless {
  border-bottom: none;
}

.card .card-header.borderless h5:after {
  display: none;
}

.card .card-header .card-header-right {
  right: 10px;
  top: 10px;
  display: inline-block;
  float: right;
  padding: 0;
  position: absolute;
}

@media only screen and (max-width: 575px) {
  .card .card-header .card-header-right {
    display: none;
  }
}

.card .card-header .card-header-right .dropdown-menu {
  margin-top: 0;
}

.card .card-header .card-header-right .dropdown-menu li a {
  font-size: 14px;
  text-transform: capitalize;
}

.card .card-header .card-header-right .btn.dropdown-toggle {
  border: none;
  background: transparent;
  box-shadow: none;
  color: #888;
}

.card .card-header .card-header-right .btn.dropdown-toggle i {
  margin-right: 0;
}

.card .card-header .card-header-right .btn.dropdown-toggle:after {
  display: none;
}

.card .card-header .card-header-right .btn.dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
}

.card .card-header .card-header-right .btn.dropdown-toggle {
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 8px;
}

.card .card-header .card-header-right .btn.dropdown-toggle.mobile-menu span {
  background-color: #888;
  height: 2px;
  border-radius: 5px;
}

.card
  .card-header
  .card-header-right
  .btn.dropdown-toggle.mobile-menu
  span:after,
.card
  .card-header
  .card-header-right
  .btn.dropdown-toggle.mobile-menu
  span:before {
  border-radius: 5px;
  height: 2px;
  background-color: #888;
}

.card .card-header .card-header-right .nav-pills {
  padding: 0;
  box-shadow: none;
  background: transparent;
}

.card .card-footer {
  border-top: 1px solid #e2e5e8;
  background: transparent;
  padding: 20px 25px;
}

.card .card-block,
.card .card-body {
  padding: 20px 25px;
}

.card .card-block-big {
  padding: 30px 25px;
}

.card.card-load {
  position: relative;
  overflow: hidden;
}

.card.card-load .card-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999;
}

.card.card-load .card-loader i {
  margin: 0 auto;
  color: #3949ab;
  font-size: 24px;
  align-items: center;
  display: flex;
}

.card.full-card {
  z-index: 99999;
  border-radius: 0;
}
.card .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border: 5px solid #fff;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.prod-p-card i {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 11px 0;
  font-size: 18px;
}
.card-border-c-blue {
  border-top: 4px solid #3949ab;
}

.card-border-c-red {
  border-top: 4px solid #e52d27;
}

.card-border-c-green {
  border-top: 4px solid #2ca961;
}

.card-border-c-yellow {
  border-top: 4px solid #f57c00;
}

.card-border-c-purple {
  border-top: 4px solid #463699;
}

.card-border-c-info {
  border-top: 4px solid #0288d1;
}
.bg-c-blue {
  background: linear-gradient(45deg, #3949ab, #2962ff) !important;
}

.text-c-blue {
  color: #3949ab;
}

.b-c-blue {
  border: 1px solid #3949ab;
}

.bg-c-red {
  background: linear-gradient(45deg, #e52d27, #b31217) !important;
}

.text-c-red {
  color: #e52d27;
}

.b-c-red {
  border: 1px solid #e52d27;
}

.bg-c-green {
  background: linear-gradient(45deg, #2ca961, #2ed88a) !important;
}

.text-c-green {
  color: #2ca961;
}

.b-c-green {
  border: 1px solid #2ca961;
}

.bg-c-yellow {
  background: linear-gradient(45deg, #f57c00, #ffb64d) !important;
}

.text-c-yellow {
  color: #f57c00;
}

.b-c-yellow {
  border: 1px solid #f57c00;
}

.bg-c-purple {
  background: linear-gradient(45deg, #463699, #7661e6) !important;
}

.text-c-purple {
  color: #463699;
}

.b-c-purple {
  border: 1px solid #cfc9f0;
}

.bg-c-info {
  background: linear-gradient(45deg, #0288d1, #26b9cc) !important;
}

.text-c-info {
  color: #0288d1;
}

.b-c-info {
  border: 1px solid #0288d1;
}
