.modal-footer {
  padding-top: 25px;
}

.button-style {
  width: 120px; /* Adjust the width as per your requirements */
}

.modal-title {
  padding-bottom: 10px;
}

.form-group {
  padding-bottom: 10px;
}
