<div class="container">
  <div class="card-header">
    <a class="btn btn-success">Add Product [+]</a>
  </div>
  <br />
  <mat-table class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let product of productList">{{
        product.product_name
      }}</mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.category }}</mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.price }}</mat-cell>
    </ng-container>

    <mat-header-row></mat-header-row>
    <mat-row></mat-row>
  </mat-table>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3 tetx-center">
          <h5 class="text-center text-warning">Add Product</h5>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="product_name"
            name="product_name"
            [(ngModel)]="product_name"
          />
          <label for="product_name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="product_category"
            name="product_category"
            [(ngModel)]="product_category"
          >
            <option value="">Select a category</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.category_name }}
            </option>
          </select>

          <label for="product_category">Category</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="product_description"
            name="product_description"
            [(ngModel)]="product_description"
          />
          <label for="product_description">Description</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="product_price"
            name="product_price"
            [(ngModel)]="product_price"
          />
          <label for="product_price">Price</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="file"
            class="form-control"
            id="product_image"
            name="product_image"
            (change)="onFileSelected($event)"
          />
          <label for="product_image">Image</label>
        </div>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="addProduct()"
        >
          Add Product
        </button>
      </div>
    </div>
    <div class="col-md-8 mt-2">
      <h5 class="text-danger">Product List</h5>
      <div class="card p-3 shadow">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>

                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productList">
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_description }}</td>
                <td>{{ product.product_category?.category_name }}</td>
                <td>{{ product.product_price }} <span> MT</span></td>

                <td>
                  <button
                    class="btn btn-outline-primary"
                    (click)="updateProduct(product)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-outline-danger"
                    (click)="deleteProduct(product)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
