.container {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

h2 {
  padding-bottom: 5px;
}

.category {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.btn {
  margin-top: 10px;
  margin-right: 10px;
}

.price {
  color: #e89c9c !important;
}

.description {
  padding-bottom: 15px;
}
