<div class="container">
  <div class="row box">
    <div class="col-md-6">
      <img
        [src]="product.product_image"
        alt="Product Image"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6">
      <p class="category">{{ product.product_category?.category_name }}</p>
      <h2>{{ product.product_name }}</h2>
      <p>{{ product.product_description }}</p>
      <h4>Customize Your Order</h4>
      <div class="mb-3">
        <label for="color">Color:</label>
        <select class="form-select" id="color" name="color" [(ngModel)]="color">
          <option value="">Select a color</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="orange">Orange</option>
          <option value="purple">Purple</option>
          <option value="pink">Pink</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="filling">Size:</label>
        <select
          class="form-select"
          id="size"
          name="size"
          [(ngModel)]="selectedSize"
          (ngModelChange)="updateCustomization(selectedSize)"
        >
          <option value="">Select size</option>
          <option *ngFor="let cust of sizeArray" [value]="cust.id">
            {{ cust.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="filling">Filling:</label>
        <select
          class="form-select"
          id="filling"
          name="filling"
          [(ngModel)]="selectedFilling"
          (ngModelChange)="updateCustomization(selectedFilling)"
        >
          <option value="">Select filling</option>
          <option *ngFor="let cust of fillingArray" [value]="cust.id">
            {{ cust.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="flavor">Flavor:</label>
        <select
          class="form-select"
          id="flavor"
          name="flavor"
          [(ngModel)]="selectedFlavor"
          (ngModelChange)="updateCustomization(selectedFlavor)"
        >
          <option value="">Select flavor</option>
          <option *ngFor="let cust of flavorArray" [value]="cust.id">
            {{ cust.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="quantity">Quantity:</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          name="quantity"
          min="1"
          [(ngModel)]="quantity"
        />
      </div>
      <div class="mb-3">
        <label for="notes">Notes:</label>
        <textarea
          class="form-control"
          id="notes"
          name="notes"
          rows="3"
          [(ngModel)]="note"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="picture-upload">Upload Picture:</label>
        <input
          type="file"
          class="form-control"
          id="picture-upload"
          name="picture-upload"
          [(ngModel)]="picture"
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="addOrderItem()">
        Add to Cart
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="calcSubtotal(product)"
      >
        Calc
      </button>

      <button type="button" class="btn btn-success" (click)="addCheckoutItem()">
        Checkout
      </button>

      <div *ngFor="let ord of orderItemList">
        <p>{{ ord.product.product_price }}</p>
      </div>
    </div>
  </div>
</div>
